<%= form_with(model: oeuvre) do |form| %>
  <% if oeuvre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oeuvre.errors.count, "error") %> prohibited this oeuvre from being saved:</h2>

      <ul>
        <% oeuvre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <label> url de l'image </label>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
